    header .top {margin: 0 auto; width: 1200px; padding: 0 0 26px;}
    header .top h1 {float: left; padding: 33px 0 0;}
    header .top h1 a:first-child {margin-right: 28px;} /* padding = 클릭 범위가 넓어짐 */
    header .top > div {float: right;}

    header .control {float: left; padding: 31px 24px 0 0;}
    header .control h2 {float: left; font-size: 16px; color: #333; font-weight: normal; line-height: 36px;} /* block 요소 */
    header .control ul {float: left; padding: 0 0 0 9px;} /* block 요소 */
    header .control li {float: left; padding: 0 0 0 4px;} /* block 요소 */
    header .control li button[class] {padding: 0;} /* 패딩 제거*/
    header .control li button {
        padding: 0 16px; min-width: 36px; height: 36px; font-size: 14px; color:#3190ce; background: #fff; 
        border: 1px solid #dfdfdf; border-radius: 36px; box-sizing: border-box;
        /* radius = 높이(height)만큼 */ /* box-sizing: border-box = 자동계산 */
    }

    header .sns {float: left; position: relative; padding: 27px 0 0 7px;}
    header .sns:before {content: ""; position: absolute; left: 0; top: 35px; width: 1px; height: 30px; background: #e3e3e3;}
    header .sns li {float: left; padding: 0 0 0 12px;}
    header .sns li img {width: 46px;}

    header .btm {border-top: 1px solid #ededed; border-bottom: 1px solid #ededed;}
    header .btm > div {margin: 0 auto; width: 1200px;}
    header .btm .lnb {float: left;}
    header .btm .lnb li {float: left;}
    header .btm .lnb a {display: block; line-height: 59px; padding: 0 40px; color: #333; font-size: 22px;}
    header .btm .spot {float: right; font-size: 0; /* block 사이의 공백 없애기 */}
    header .btm .spot * {vertical-align: middle;} /* button 과 a 태그를 정렬 */
    header .btm .spot a {
        display: inline-block; 
        position: relative; /* spot a ~ a:before = 기준점 */
        padding: 0 25px; line-height: 59px; font-size: 15px; color: #666;
    }
    header .btm .spot a ~ a:before {content: ""; position: absolute; left: 0; top:50%; width: 1px; height: 10px; background: #e3e3e3; transform: translateY(-50%);}
    header .btm .spot button {width: 59px; height: 59px; background: none; color: #0066b3; font-size: 26px; /* \e97a */}
    
    .block > div {margin: 0 auto; padding: 100px 0 0; width: 1200px;}
    .block .tit {text-align: center;}
    .block .tit h2 {padding: 28px 0; font-size: 38px; color:#333; line-height: 1;} /* line-height: 1 = 수치를 알기 위해 줄간격 초기화 */
    .block .tit p {padding: 0 0 40px; font-size: 21px; color:#666; line-height: 1;}
    
    /* 금융서비스 */    
    .service .banner h3 {font-size: 24px; line-height: 31px;}
    .service .banner p {padding: 12px 0 15px; font-size: 13px; line-height: 24px;}
    .service .banner a {
        display: block; width: 140px; line-height: 40px; background: #064ca2; border-radius: 7px; color:#fff; margin: 0 auto; /* block 요소 */ 
    }

    .service {padding: 0 0 147px;}
    .service .banner > div {width: 580px; color: #fff;}
    .service .banner div div {
        width: 290px; height: 280px; padding: 37px 0 0; 
        box-sizing: border-box; /* 높이 계산 */
        text-align: center;
    }
    .service .banner .left {float: left; background: url(../img/bg_ad2.png) no-repeat left top} /* left top = 기본값 */
    .service .banner .left div {float: right; background: linear-gradient(to right, #3194d5, #4fb2f6);}
    .service .banner .right {float: right; background: url(../img/bg_ad1.png) no-repeat right top}
    .service .banner .right div {background: linear-gradient(to right, #334da4, #3c62b3);}

    .service .btm > article {position: relative; width: 580px; margin: 38px 0 0; /* absolute 영향 */}
    .service .btm h3 {padding: 0 0 28px; font-size: 26px; color: #333;}
    .service .event {float: left;}
    .service .event img {width: 100%;}    
    .service .recom {float: right;}
    .service .card_info > div {float: left;}
    .service .card_info .card {
        position: relative; 
        font-size: 0; /* 중간의 공간 제거 */
    }
    .btn_func {
        position: absolute; 
        left: 0; right: 0; bottom: 0; /* 가로 사이즈 100% */
        background: rgba(255,255,255,0.8);
        font-size: 0; /* inline 요소(button)의 연속 배치로 인한 공백 제거  */
    }
    .btn_func:before {
        content: '';
        position: absolute; left: 50%; height: 100%;
        width: 1px; background: #bfc0c2;
    }
    .btn_func button {
        width: 50%; height: 45px;
        background: none;
        font-size: 15px; color: #666;
        cursor: pointer;
    }    
    .service .info {
        padding: 0 0 0 35px; width: 295px;
        float: right;
    }
    .service .info h4 {
        font-size: 26px; color: #333; 
        line-height: 1; /* 줄 간격 초기화 */
    }
    .service .info p {position: relative; padding: 36px 0 0 0; font-size: 18px; color: #666; letter-spacing: -0.5px;}
    .service .info p:before {
        content: ''; position: absolute; left: 0; top: 21px;
        width: 36px; height: 2px; background: #288bcc;
    }
    
    .service .slide2 {
        border-top: 2px solid #333; padding: 20px 0 0;
        height: 224px; box-sizing: border-box;
    }
    .service .slide2 .control {
        position: absolute; left: 256px; bottom: 0;
        z-index: 100;
    }
    .service .slide2 .control button {
        width: 75px; height: 35px; cursor: pointer; 
    }
    .service .slide2 .control button ~ button {
        border-left: 1px solid #ddd;    
    }
    .service .slide2 .control button.prev {
        background: url(../img/sArrow_prev.png) no-repeat center;
    }
    .service .slide2 .control button.next {
        background: url(../img/sArrow_next.png) no-repeat center;    
    }
    
    /* 관심정보 */
    .fav_info {background: #f9f9f9; padding: 0 0 100px;}
    .fav_info .left {width: 384px; float: left;}
    .fav_info .left > a {
        display: block; height: 65px; background: #3f69b8; border-radius: 5px; font-size: 19px; color: #fff; font-weight: bold; line-height: 65px; 
        text-align: center; /* X축 가운데 정렬 */
    }
    .fav_info .left  > a span {color: #ffc820;}
    .fav_info .left .thoumb {padding: 30px 0 0;}
    .fav_info .left .thoumb img {width: 100%;}
    .fav_info .left .thoumb p {position: relative; padding: 33px 0 22px; font-size: 15px; color:#288bcf; line-height: 1; margin: 0 0 20px;}
    .fav_info .left .thoumb p:after {content: ''; position: absolute; left: 0; bottom: -1px; width: 36px; height: 1px; background: #288bcf;} /* p 요소는 여백이 없어서 여백 필요 */
    .fav_info .left .thoumb span {font-size: 19px; color: #333; font-weight: bold;} /* 줄 간격 초기화 */

    .fav_info .right {
        float: right; width: 792px; 
        /* float 줬을 시 부모 높이가 사라짐 - clear */
    }
    .tab_type1 {
        display: flex; border: 1px solid #e4e4e4;
        border-radius: 5px;
    }
    .tab_type1 li {flex: 1;} /* n/1 */
    .tab_type1 li a {
        display: block; background: #fff; font-size: 17px; color: #333; text-align: center; line-height: 62px;
    }
    .tab_type1 li a:hover {background: #f5f5f5; color: #288bcc;}
    .tab_type1 li a:active {background: #f5f5f5;}
    .tab_type1 li:first-child a {border-radius: 5px 0 0 5px;}
    .tab_type1 li:last-child a {border-radius: 0px 5px 5px 0px;}
    .tab_type1 li ~ li {border-left: 1px solid #e4e4e4;} /* 형제 선택자 */
    .tab_type1 li:nth-child(1) a {} /* position: relative 로 위치 조정 */
    .tab_type1 li:nth-child(2) a {}
    .tab_type1 li:nth-child(3) a {}
    .tab_type1 li:nth-child(4) a {}
    .tab_type1 li:nth-child(5) a {}
    
    .info_list {margin: 30px 0 0; border-top: 2px solid #288bcc;}
    .info_list li {border-bottom: 1px solid #eaeaea; background: #fff;}
    .info_list li a {
        position: relative; /* 기준점 */
        display: block; /* 클릭 가능하게 */ 
        line-height: 82px;
        font-size: 19px;
        color: #333;
    }
    .info_list li a:after {
        content: '';
        position: absolute; right: 30px; top: 50%;
        width: 26px; height: 26px; border-radius: 100%;
        border: 1px solid #ddd;
        background: url(../img/sArrow_next.png) no-repeat center;
        transform: translateY(-50%);
    }
    .info_list li a strong {
        display: inline-block; 
        /* 가로 세로 배치 */
        width: 130px;
        padding: 0 0 0 30px;
        font-size: 15px;
        color: #288bcc;
    }

    .education {padding: 0 0 104px;}
    .education h3 {padding: 0 0 28px; font-size: 23px; color: #333; line-height: 1;}
    .education span {color: #288bcc;}
    .education .edu_wrap {
        display: flex; justify-content: space-between; /* 주축 정렬 */
    }
    .education .edu_wrap .left {width: 580px;}
    .education .edu_wrap .left a {
        display: block; height: 544px; 
        /* block 요소는 가로 100%로, a 요소의 부모 크기만큼 꽉 참 */
        background: url(../img/img_thumb.jpg) no-repeat center / auto 100%;
        border-radius: 4px; color: #fff;
        box-sizing: border-box; /* 높이가 같이 있기 때문에 크기가 초과되지 않음 */
        padding: 72px 50px; /* 상하좌우 균등 */
    }
    .education .edu_wrap .left a strong {
        display: block; width: 330px; /* 너비를 주기 위해 display: block; */
        font-size: 27px; line-height: 38px;
        padding: 0 0 16px;
    }
    .education .edu_wrap .left a p {
        width: 255px; font-size: 16px; line-height: 26px;
        padding: 0 0 35px;
    }
    .education .edu_wrap .left a span {
        display: block;
        width: 140px; line-height: 40px; /* 줄 간격이 있으면 높이는 필요 없음 */ 
        text-align: center; 
        border: 1px solid #fff; border-radius: 6px; 
        color: #fff; font-size: 13px;
    }

    .education .edu_wrap .right {width: 580px;}
    .education .edu_wrap .right > div {position: relative;}
    .education .edu_wrap .right > div ~ div {margin: 53px 0 0;}

    .education .info_wrap {
        display: flex; justify-content: space-between;
        padding: 20px 0 0; border-top: 2px solid #333;
    }
    .education .info_wrap .img {
        position: relative; width: 249px; height: 198px;
        overflow: hidden; /* 이미지 범위 초과시 잘라내기 */
    }
    .education .info_wrap .img img {width: 100%; height: 100%;}
    .education .info_wrap .info {width: 296px;}
    .education .info_wrap .info a {
        font-size: 23px; color: #333; 
        /* 말 줄임표 */
        display: block; /* 가로 크기 필요 */ width: 296px;
        overflow: hidden; 
        white-space: nowrap; /* 줄이 내려가는 것을 방지 */ 
        text-overflow: ellipsis; 
        
        line-height: 1; /* 줄 간격 초기화 */ margin: 0 0 25px;
    }
    .education .info_wrap .info li {
        font-size: 17px; color: #787878;
        padding: 0 0 17px; line-height: 1;
    }
    .education .info_wrap .info li strong {
        display: inline-block; /* 행 배치 */ width: 44px; color: #222;
    }
    .education .info_wrap .info p {font-size: 17px; color: #666;}

    .trip {background: url(../img/travel.jpg) no-repeat center top;}
    .trip .tit h2, 
    .trip .tit p {color:#fff;}
    .trip. trip_list > li {}

    .btn_more {
        position: absolute; right: 0; top: 0;
        width: 136px; line-height: 38px;
        border: 1px solid #cdcdcd;
        border-radius: 4px;
        font-size: 16px; color:#8a8a8a; text-align: center;
    }
    .btn_more .xi-angle-right-thin {margin: 0 0 0 8px;}
    