    /* 리셋 */    
    /* 언어설정 */ 
    @charset "utf-8";

    /* 여백 초기화 */ 
    body,div,ul,li,dl,dd,dt,ol,h1,h2,h3,h4,h5,h6,input,fieldset,legend,p,
    select,table,th,td,tr,textarea,button,form { margin:0;padding:0; }

    /* a 링크 초기화 */
    a { color: #222; text-decoration: none; }
    a:hover { color: #390; }

    /* 폰트 초기화 */
    /* 웹 폰트를 적용하면 컴퓨터에 자동으로 설치 후 폰트를 보여주게 함
        운영체제 마다 픽셀 차이를 최소화 할 수 있음. */
    body, input, textarea, select, button, table {
        /* 순차적으로 적용 */
        font-family:'Nanum Gothic', AppleSDGothicNeo-Regular,
            'Malgun Gothic','맑은 고딕',dotum,'돋움',sans-serif; 
        color: #222; 
        font-size: 13px; 
        line-height: 1.5;
    }

    /* 폰트 스타일 초기화 */
    em {font-style: normal;}

    /* 불릿기호 초기화 */
    dl, ul, li, ol, menu { list-style: none; }

     /* 제목 태그 초기화 */
    h1, h2, h3, h4, h5, h6 {font-size: 13px; color:#222; font-weight: normal;}
        
    /* margin, padding */ /* !important 우선순위 */
    /* 원본 소스를 해치지 않고 빠르게 작업하기 위해 미리 만들어 둠 */
    .mt10 {margin-top: 10px !important;}
    .mt15 {margin-top: 15px !important;}
    .mt20 {margin-top: 20px !important;}
    .mt25 {margin-top: 25px !important;}
    .mt30 {margin-top: 30px !important;}
    .mt35 {margin-top: 35px !important;}
    .mt40 {margin-top: 40px !important;}
    .mt45 {margin-top: 45px !important;}
    .mt50 {margin-top: 50px !important;}

    /* IR 효과 */
    /* 이미지 대체텍스트 제공을 위한 CSS 기법 */
    /* Phark Method = 이미지가 없을 시 텍스트가 안보임 */
    /* WA IR = 추가적인 텍스트를 작성하여 이미지가 없어도 텍스트가 보임 */

    /* 의미있는 이미지의 대체 텍스트를 제공하는 경우 */
    .ir_pm {display: block; overflow: hidden; font-size: 0; line-height: 0; text-indent: -9999px;}

    /* 의미있는 이미지의 대체 텍스트로 이미지가 없어도 대체 텍스트를 보여주고자 할 때 */
    .ir_wa {display: block; overflow: hidden; position: relative; z-index: -1; width: 100%; height: 100%;} 

    /* 대체 텍스트가 아닌 접근성을 위한 숨김 텍스트를 제공할 때 */
    .ir_su {overflow: hidden; position: absolute; width: 0; height: 0; line-height: 0; text-indent: -9999px;} 

    /* 스킵 내비게이션 */
    #skip { position: relative; }
    #skip a { position: absolute; left: 0px; top: -35px; border: 1px solid #fff; color: #fff; background: #333; line-height: 30px; width: 140px; text-align: center;
    /*  position: absolute;
        위치 절대적 = 자유자재 
        영역이 사라지는 문제점이 있어 붕 뜨는 현상이 있음 
        top : -35px; 숨기기
    */
    }
    /* 탭키 */
    #skip a:active, #skip a:focus { top: 0; }