    /* 화면 너비 0 ~ 1220px */
    @media (max-width: 1220px){
        .container {width: 100%;}
        .row {padding: 0 15px;}
        #contents .container {border: 0;} 
        /* border = scrollbar 가 생기는 영역 */
        .title .btn {right: 5px;} /* 여백 */
    }

    /* 화면 너비 0 ~ 1024px */
    @media (max-width: 1024px){

    }

    /* 화면 너비 0 ~ 960px */
    @media (max-width: 960px){
        #cont_right { 
            position: static; 
            /* static = position: absolute 를 기본 값으로 변경 */
            width: 100%; border-top: 1px solid #dbdbdb;
        }
        #cont_center {margin-right: 0; border-right: 0;}

        /* 3줄 */
        .nav > div {float: none; width: 100%;}
        .nav > div:last-child {width: 100%;}
        .nav > div li {width: 33.33333%;}
        .nav > div:last-child li {width: 33.33333%;}
        .nav > div ol {margin-bottom: 10px;}
    }

    /* 화면 너비 0 ~ 768px */
    @media (max-width: 768px){
        #cont_left {float: none; width: 100%;}
        #cont_center {border-left: 0;}
    }

    /* 화면 너비 0 ~ 600px */
    @media (max-width: 600px){
        .header {height: auto;} /* height 값 초기화 */
        .header .header_tit {display: none;}
        .header .header_icon {display: none;}
        .title .btn {display: none;}
        
        /* 2줄 */
        .nav > div li {width: 50%;}
        .nav > div:last-child li {width: 50%;}
        
        .column.col1 {padding: 0; border-bottom: 0;}
        .column.col1 .col_tit {display: none;}
        .column.col1 .col_desc {display: none;}
        
        .column.col1 .menu ul {overflow: hidden;}
        .column.col1 .menu li {
            float: left; width: 33.3333%; border-right: 1px solid #dbdbdb; text-align: center; 
            box-sizing: border-box; /* border 값을 width 값 안에 포함 */
        }
        .column.col1 .menu li:nth-child(3n) {border-right: 0}
        .column.col1 .menu li a {color: #fff; text-shadow: 0 0 5px rgba(0,0,0,0.7);}
        .column.col1 .menu li a:hover {box-shadow: none; background: rgba(36,130,174,0.3);}
        .column.col1 .menu li a i {display: none;}
        .column.col2 {background: #fff;}
        .column.col4 {border-top: 1px solid #dbdbdb;}
    }

    /* 화면 너비 0 ~ 480px */
    @media (max-width: 480px){

    }

    /* 화면 너비 0 ~ 320px */
    @media (max-width: 320px){
        /* 1줄 */
        .nav > div li {width: 100%;}
        .nav > div:last-child li {width: 100%;}
    }